.search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #1b1b1b;
    font-size: 0.925925926vw;
    line-height: 170%;

    input{ 
        background: none;
        outline: none;
    }

    span {
        margin-right: .5rem;
    }
}